<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 -->

<component loader="com.sun.star.loader.SharedLibrary" environment="@CPPU_ENV@"
    prefix="sfx" xmlns="http://openoffice.org/2010/uno-components">
  <implementation name="com.sun.star.comp.sfx2.BackingComp">
    <service name="com.sun.star.frame.StartModule"/>
    <service name="com.sun.star.frame.ProtocolHandler"/>
  </implementation>
  <implementation name="SfxDocumentMetaData">
    <service name="com.sun.star.document.DocumentProperties"/>
  </implementation>
  <implementation name="CompatWriterDocPropsImpl">
    <service name="com.sun.star.writer.DocumentProperties"/>
  </implementation>
  <implementation name="com.sun.star.comp.desktop.QuickstartWrapper">
    <service name="com.sun.star.office.Quickstart"/>
  </implementation>
  <implementation name="com.sun.star.comp.document.OwnSubFilter">
    <service name="com.sun.star.comp.document.OwnSubFilter"/>
    <service name="com.sun.star.document.OwnSubFilter"/>
  </implementation>
  <implementation name="com.sun.star.comp.embed.PackageStructureCreator">
    <service name="com.sun.star.comp.embed.PackageStructureCreator"/>
    <service name="com.sun.star.embed.PackageStructureCreator"/>
  </implementation>
  <implementation name="com.sun.star.comp.office.FrameLoader">
    <service name="com.sun.star.frame.SynchronousFrameLoader"/>
    <service name="com.sun.star.frame.OfficeFrameLoader"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.AppDispatchProvider">
    <service name="com.sun.star.frame.ProtocolHandler"/>
    <service name="com.sun.star.frame.AppDispatchProvider"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.ApplicationDialogLibraryContainer">
    <service name="com.sun.star.script.ApplicationDialogLibraryContainer"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.ApplicationScriptLibraryContainer">
    <service name="com.sun.star.script.ApplicationScriptLibraryContainer"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.DocumentTemplates">
    <service name="com.sun.star.frame.DocumentTemplates"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.GlobalEventBroadcaster">
    <service name="com.sun.star.frame.GlobalEventBroadcaster"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.IFrameObject">
    <service name="com.sun.star.frame.SpecialEmbeddedObject"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.PluginObject">
    <service name="com.sun.star.frame.SpecialEmbeddedObject"/>
  </implementation>
  <implementation name="com.sun.star.comp.sfx2.SfxMacroLoader">
    <service name="com.sun.star.frame.ProtocolHandler"/>
  </implementation>
</component>
